<% include ../partials/navigationAdmin %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <style>
        body {
            background: #6441A5;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .card{
            background-color: #212F3D;
        }
        .footer{
            background-color: #212F3D;
        }
        td.boton {
            width: 35%;
        }
        nav.navbar {
            background-color: #212F3D;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <% electiva.forEach(function(elect){  %>
                <div class="col-md-3 mt-3">
                    <div class="card text-white">
                        <div class="card-body">
                            <h4 class="card-title text-center">
                                <%= elect.nombre %>
                            </h4>
                            <div class="text-center">
                                <h5 class="font-weight-normal"> <%= elect.nombreInstructor %> </h5>
                                <h5 class="font-weight-normal"> <%= elect.descripcion %> </h5>
                                <span class="badge badge-pill badge-primary"> <h6 class="font-weight-normal"><%= elect.cupos %></h6> </span>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>